{
  "timeout": 10,
  "mailserver": "localhost",
  "mailport": 25,
  "mailfrom": "RSS <a@a.com>",
  "mailto": "People <b@b.com>",
  "mailonerror": true,
  "mailtoerror": "c@c.com",
  "database": "rss.db",
  "globalignorewords": ["ignore1", "ignore2"],
  "feeds": [
    {
      "title": "Certificates *.aaa.com",
      "url": "https://crt.sh/atom?q=%25.aaa.com",
      "ignorewords": ["ignore1", "ignore2"]
    },
    {
      "title": "Certificates *.bbb.com",
      "url": "https://crt.sh/atom?q=%25.bbb.com"
    }
  ]
}
